@model WebBlog.ViewModels.CreatePostVM

@{
    ViewData["Title"] = "Edit Post";
}

<div class="container-fluid">
    <a class="btn btn-primary mb-1" asp-action="Index" asp-controller="Post">Back</a>
    <div class="card">
        <div class="card-header bg-primary">
            <h4 class="card-title text-white">
                New Post
            </h4>
        </div>
        <div class="card-body">
            <form asp-action="Edit" asp-controller="Post" asp-area="Admin" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id"/>
                <input type="hidden" asp-for="ThumbnailUrl" />

                <div class="row">
                    <div class="col-9">
                        <div class="mb-2">
                            <label>Tags</label>
                            @Html.ListBox("selectedTags", ViewBag.tags,
                                     new { @class = "w-100", id = "selectedTags" })
                        </div>
                        <div class="mb-2">
                            <label>Title</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="mb-2">
                            <label>Short Description</label>
                            <input type="text" asp-for="ShortDescription" class="form-control" />
                            <span asp-validation-for="ShortDescription" class="text-danger"></span>
                        </div>
                        <div class="mb-2">
                            <label>Description</label>
                            <textarea id="tiny" type="text" asp-for="Description" class="form-control" rows="8"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="mb-2">
                            @if(Model.ThumbnailUrl == null)
                            {
                                <img src="~/thumbnails/default.png" class="img-fluid" id="thumbnail" />
                            } else {
                            <img src="~/thumbnails/@Model.ThumbnailUrl" class="img-fluid" id="thumbnail" onerror="this.src='~/thumbnails/default.png';" />
                            }
                        </div>
                        <div class="mb-2">
                            <label class=".custom-file-label">Thumbnail</label>
                            <input type="file" class="custom-file" asp-for="Thumbnail" />
                            <span asp-validation-for="Thumbnail" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="mb-2">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>

            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/admin/vendor/multiple-select/multiple-select.min.js"></script>
    <link rel="stylesheet" href="~/admin/vendor/multiple-select/multiple-select.min.css" />
    <script>
        $(".custom-file").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            document.getElementById('thumbnail').src = window.URL.createObjectURL(this.files[0])
        });

        //Integrate TinyMCE
        $(document).on('focusin', function (e) {
            if ($(e.target).closest(".tox-tinymce, .tox-tinymce-aux, .moxman-window, .tam-assetmanager-root").length) {
                e.stopImmediatePropagation();
            }
        });

        $('#selectedTags').multipleSelect({
            selectAll: false,
            keepOpen: false,
            isOpen: false
        });
    </script>
}