@model WebBlog.ViewModels.PageVM
@{
    ViewData["Title"] = "About";
    string pageThumbnail = "";
    if(Model.ThumbnailUrl == null)
    {

        pageThumbnail = "/blog/assets/img/about-bg.jpg";
    } else
    {
        pageThumbnail = "/thumbnails/" + Model.ThumbnailUrl;

    }
}

<header class="py-5 bg-light border-bottom mb-4" style="background-image: url(@pageThumbnail)">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">@Model.Title</h1>
            <p class="lead mb-0">@Model.ShortDescription</p>
        </div>
    </div>
</header>



<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @Html.Raw(Model.Description)
            </div>
        </div>
    </div>
</main>